<div class="blog-post-container">

    <div class="blog-post">
        <div class="blog-post-header">
            <h3>blog post</h3>
            <div>
                <p>posted by xandromus on 5/8/2020</p>
            </div>
        </div>
        <div class="blog-post-content">
            <p>I'm baby freegan PBR&B before they sold out, forage narwhal tumblr jean shorts messenger bag ennui next level plaid neutra biodiesel slow-carb disrupt.</p>
        </div>
    </div>

    <div class="comment-container">
        <div class="comment">
            <label for="">Jack</label>
            <textarea></textarea>
        </div>
    </div>

</div>

