<div class="dashboard-container">
    <div class="dashboard-post-container">
        <div class="dashboard-post">
            <h3>blog post</h3>
              <div>
                    <a href='/'>view</a>
                    <a href='/dashboard/edit-post'>edit</a>
                    <p>posted by xandromus on 5/8/2020</p>
              </div>
        </div>
    </div>
    <div class="dashboard-btn-container">
        <button class="dashboard-new-post-btn">+ New Post</button>
    </div>
</div>
<script src="/js/dashboard.js"></script>