<form action="" class="create-edit-post-form">
    <div class="create-edit-post-form-header">
        <h3>Edit Post</h3>
    </div>
    <div class="create-edit-post-form-element-container">
        <label for="">Title</label>
        <input type="text">
        <label for="">Content</label>
        <textarea class="create-edit-post-textarea"></textarea>
        <button class="edit-post-btn">update</button>
        <button class="edit-post-btn">delete</button>
        <a href="/dashboard">Back to dashboard</a>
    </div>
</form>