<form action="" class="signup-login-form">
    <div class="sign-up-login-form-header">
        <h3>Sign Up</h3>
    </div>
    <div class="signup-login-form-element-container">
        <label for="">Username</label>
        <input type="text">
        <label for="">Password</label>
        <input type="text">
        <button>Sign Up</button>
        <a href="/login">Login instead</a>
    </div>
</form>